<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	">
	<bean id="configureLucene" class="com.ssm.demo.lucene.ConfigureLucene" init-method="init"></bean>
	<bean id="documentUtil" class="com.ssm.demo.lucene.DocumentUtil"></bean>
	<bean id="luceneUtil" class="com.ssm.demo.lucene.LuceneUtil" init-method="init" destroy-method="destory">
		<property name="configureLucene" ref="configureLucene"></property>
	</bean>
	<bean id="highlighterUtil" class="com.ssm.demo.lucene.HighlighterUtil" init-method="init">
		<property name="configureLucene" ref="configureLucene"></property>
	</bean>
	<bean id="luceneService" class="com.ssm.demo.service.impl.LuceneServiceImpl">
		<property name="documentUtil" ref="documentUtil"></property>
		<property name="luceneUtil" ref="luceneUtil"></property>
		<property name="highlighterUtil" ref="highlighterUtil"></property>
	</bean>
	</beans>